---
import Layout from "../layouts/Layout.astro";
import ThemeSwitch from "../components/theme-switch.astro";
import Platform from "../components/platform.astro";

import platforms from "../platforms";
import PlatformWrapper from "../components/platform-wrapper.astro";
---

<Layout title="nate.social">
	<header class="flex items-center justify-between w-full max-w-5xl">
		<h1 class="text-3xl sm:text-4xl font-bold">nate.social</h1>
		<div>
			<ThemeSwitch />
		</div>
	</header>
	<main class="mt-4 w-full max-w-5xl inline-flex items-start gap-10 flex-col">
		<div class="opacity-50 text-lg">
			█ Hey, I'm Nate. Usually you can find around the internet under the
			username `natedunn`. Here is a directory of most of platforms I use.
		</div>
		<div class="w-full space-y-4">
			<h3 class="text-xl">Active platforms</h3>
			<PlatformWrapper>
				{
					platforms
						.filter((platform) => platform.tier === 1)
						.map((platform) => <Platform {...platform} />)
				}
			</PlatformWrapper>
		</div>
		<div class="w-full space-y-4">
			<h3 class="text-xl">Less active platforms</h3>
			<PlatformWrapper>
				{
					platforms
						.filter((platform) => platform.tier === 2)
						.map((platform) => <Platform {...platform} />)
				}
			</PlatformWrapper>
		</div>
		<div class="w-full space-y-4">
			<h3 class="text-xl">Other links</h3>
			<PlatformWrapper>
				{
					platforms
						.filter((platform) => platform.tier === 3)
						.map((platform) => <Platform {...platform} />)
				}
			</PlatformWrapper>
		</div>
	</main>
</Layout>
